@(goals: List[Goal], goalForm: Form[Goal])

<html lang="">
    <head>
        <title>Hibernate Example</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="">
              <!-- Bootstrap core CSS -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">
            <!-- Custom styles for this template -->
        <link href="assets/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top navbar-xs">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Minhas Metas</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h2 class="text-center">@goals.size() Meta(s)</h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Meta</th>
                                <th>Data </th>
                                <th>Descrição </th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(goal <- goals) {
                            <tr>
                                <td>@goal.getName()</td>
                                <td>@goal.getDescription</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4 class="panel-title"><strong>Adiciona uma nova Meta</strong><h4></div>
                        <div class="panel-body">
                            <form method="post">
                                <label for="name"> Nome: </label>
                                <input type="text" name="nome" id="inputName" class="form-control"required="required">
                                <label for="description"> Descrição: </label>
                                <input type="text" name="description" id="inputDescription" class="form-control"required="required">
                                <label for="date"> Data: </label>
                                <br>
                                <input class="datepicker" name="date" data-date-format="mm/dd/yyyy">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Relevancia
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                    </ul>
                                </div>
                                <br><br>
                                <input type="submit" class="btn btn-success" value="Create">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
            <!-- Bootstrap JavaScript -->
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>
